@model EFDataAccessLayer.StudentDetails

@{
    ViewData["Title"] = "Create";

}
@{ 
    var New = "Create";
    if (Model.StudentID > 0)
    {
        New = "Update";
    }
}

<h1>Create</h1>

<h4>StudentDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*<form name="create">*@
        <form >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="StudentID" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter you Name " />
                <span asp-validation-for="Name" id="txtName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                    <input asp-for="DOB" type="text" class="form-control" />
                   <input asp-for="StudentID" type="hidden" id="StudentID" />                                           
                    <span asp-validation-for="DOB" id="txtdob" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" placeholder="Enter you Age " />
                    <span asp-validation-for="Age" id="txtage" class="text-danger"></span>
                </div>

                <div class="radio-btn label">
                    <label asp-for="Gender">Gender</label>
                    <br />

                    <label asp-for="Gender" for="radio">Male</label>
                    <input asp-for="Gender" type="radio" name="radio" id="male" value="male">
                    <label asp-for="Gender" for="radio">Female</label>
                    <input asp-for="Gender" type="radio" name="radio" id="female" value="female">
                </div>
                <div>
                    <span asp-validation-for="Gender" id="gender-error" class="text-danger"></span>

                </div>


                <div class="form-group">
                    <label asp-for="Mobile" class="control-label"></label>
                    <input asp-for="Mobile" class="form-control" placeholder="Enter you MobileNumber " />
                    <span asp-validation-for="Mobile" id="txtMobile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="Enter you Email" />
                    <span asp-validation-for="Email" id="txtemail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Subject" class="control-label"></label>
                    <input type="hidden" asp-for="Subject" id="hdnsub" />
                    <select asp-for="Subject" id="drpsub" class=" form-control" placeholder="select you subject"></select>
                    <span asp-validation-for="Subject" id="drpsubject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="button"  id="Create" value="@New" class="btn btn-primary" />

                </div>
</form>
</div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {

    <script>

       $(document).ready(function () {

         
           $("#Create").click(function ()
           {
              
               

                if (validate()) {
                   


                    var name = document.getElementById("Name").value;
                    var mobile = document.getElementById("Mobile").value;
                    var email = document.getElementById("Email").value;
                    var studentID = document.getElementById("StudentID").value;
                    var dob = document.getElementById("DOB").value;
                    var age = document.getElementById("Age").value;
                    var subject = document.getElementById("drpsub");
                    var values = subject.options[subject.selectedIndex].value;
                    var radios = document.getElementsByName("radio");
                    var value1 = ""
                    for (var i = 0, length = radios.length; i < length; i++) {
                        if (radios[i].checked) {


                            value1 = radios[i].value;
                            break;
                        }
                    }
                    var postData = {
                        "Name": name,
                        "Mobile": mobile,
                        "DOB": dob,
                        "Age": age,
                        "Gender": value1,
                        "Email": email,
                        "Subject": values,
                        "StudentID ": studentID,


                    }



                    $.ajax({
                        type: "POST",
                        url: "/Student/Creates",
                        data: postData,
                        success: function (data) {
                            //alert("Success");
                            window.location.href ="/Student/List"
                        },
                        error: function (ex) {
                            alert("error");
                        }
                    });
                }
            });
            $.ajax({
                type: "GET",
                url: "/api/Course",
                data: "{}",
                success: function (data) {
                    var string = '<option value="-1">--- Please Select ---</option>';
                    for (var i = 0; i < data.length; i++)
                    {
                        string += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }

                    $("#drpsub").html(string);
                    $("#drpsub").val($("#hdnsub").val());
                }
            });
           //DateofBirth picker

           $('#DOB').daterangepicker({
               singleDatePicker: true,
               showDropdowns: true,
               autoApply: true,
               autoUpdateInput: true,
               minYear: 1980,
               maxYear: parseInt(moment().format('YYYY'), 10) + 2
           }, function (start, end, label) {
               var years = moment().diff(start, 'years');
               //    alert("You are " + years + " years old!");
           });


           ////Date range picker with time picker
           $('#DOB').on('apply.daterangepicker', function (ev, picker) {

               $('#hdnDOB').val($('#DOB').val());
           });
           $("#DOB").on('change keyup paste mouseup', function () {
               $('#hdnDateofBirth').val($('#DateofBirth').val());
           });
           
            
        });


        function validate() {

            var name = document.getElementById("Name").value;

            var dob = document.getElementById("DOB").value;

            var age = document.getElementById("Age").value;

            var mobile = document.getElementById("Mobile").value;

            var email = document.getElementById("Email").value;
            //var mailformat = new RegExp("^[a-zA-Z0-9.!#$%&'+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(.[a-zA-Z0-9-]+)$");
            var mailformat = new RegExp(/^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/);

            


            var isvalid = true;
            //name
            var span = document.getElementById("txtName");
            if (name == "" || name.length == 0) {
                span.innerText = "Please Enter Your Name";
                span.style.display = "block";

                isvalid = false;
            }
            else {
                span.style.display = "none";
            }
           //age


            var spanage = document.getElementById("txtage");
            if (age == "" || age <= 18 ) {
                spanage.innerText = "Please Enter Your age";
                spanage.style.display = "block";

                isvalid = false;
            }
            else {
                spanage.style.display = "none";
            }
            //mobile

            var nummobile = document.getElementById("txtMobile");
            if (mobile === "" || !/^\d{10}$/.test(mobile)) {
                nummobile .innerText = "Please enter a valid 10-digit phone number.";
                nummobile .style.display = "block";
                isvalid = false;
            }
            else {
                nummobile.style.display = "none";
            }
            //email

            var spanemail = document.getElementById("txtemail");


            if (!(mailformat.test(email))) {
                spanemail.innerText = "Please Enter Valid Email Address";
                spanemail.style.display = "block";
                isvalid = false;
            }
            else {
                spanemail.style.display = "none";
            }
            //dob
            var spandob = document.getElementById("txtdob");

            if (dob == "" || dob.length == 0 || dob == "0001-01-01T00:00")
            {
                spandob.innerText = "Date of Birth  ";
                spandob.style.display = "block";
                isvalid = false;
            }
            else
            {
                spandob.style.display = "none";
            }
          
           

            //Subject

            var spansub = document.getElementById("drpsub");
            var sub = spansub.options[spansub.selectedIndex].value;
            var spansubject = document.getElementById("drpsubject");
            if (sub == "" || sub == -1 || sub == 0)
            {
               // spansub.style.borderColor = "red";
                spansubject.innerText = "Please Enter Your Subject";
                spansubject.style.display = "block";
                isvalid = false;
            }
            else {
                spansubject.style.borderColor = "black";
                spansubject.style.display = "none";
            }
            //Gender
            var radios = document.getElementsByName("radio");
            var genders = ""
            for (var i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    genders = radios[i].value;
                    break;
                }
            }

            var gender = document.getElementById("gender-error")
            if (!genders) {
                gender.innerText = "Please select Your gender";
                gender.style.display = "block";
                isvalid = false;
            }
            else
            {

                gender.style.display = "none";

            }
              
            
            return isvalid;
           
            
        }

      




    </script>    

}
